
body {
	height: 100%;
  }
 
  body {
	/* display: flex; */
	align-items: center;
	/* padding-top: 40px; */
	/* padding-bottom: 40px; */
	background-color: #f5f5f5;
  }
  
  .form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
	margin-top: 40px;;
  }
  
  .form-signin .checkbox {
	font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
	z-index: 2;
  }
  
  .myForm{
	margin-top: 80px;
  
  }
  
  .form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 8;
	border-bottom-left-radius: 8;
  }
  
  .Name{
	
	margin-bottom: 10px;
  
  
  }
  
  .myTem{
   padding: 14% 24%;
	/* text-align: center; */
	}
