@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #783F8E;
    font-family: 'Poppins', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
}
#news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.news-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    color:#ddd9fb;
    font-weight: 600;
}
.news-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.news-box{
    width: 350px;
    background-color: rgb(255, 251, 251);
    border: 1px solid #ececec;
    margin: 20px;
}

.news-img{
    width: 100%;
    height: auto;
}
.news-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.news-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 270px;
}
.news-text span{
    color:#4A4063 ;
    font-size: 0.9rem;
}
.news-text .news-title{
    font-size:1.3 rem;
    font-weight:500;
    color: #4A4063;
}
.news-text .news-title:hover{
    color: #C8C6D7;
    transition: all ease 0.3s;
}
.news-text p{
    color:#C8C6D7;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow:ellipsis;
    margin:20px 0px;
}
.news-text a{
     color: #4F1271;
}
.news-text a:hover{
    color: #C8C6D7;
    transition: all ease 0.3s;
}
@media(max-width:1250px){
    .news-box{
        width: 300px;
    }
}
@media(max-width:1100px){
    .news-box{
        width:70%;
    }
}
@media(max-width:550px){
    .news-box{
        margin: 20px 10px;
        width:100%;
    }
    #news{
        padding:20px
    }
}