.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 350px;
  
    margin: 10px;
  }
  
  .image-list img {
    width: 250px;
    height: 350px;
  }
  .center {
    margin: 40px;
  }
  
  .button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #009ffd, #2a2a72);
    border-radius: 6px;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
    padding-bottom: 10px;
  }
  .button:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
  }
  .address {
    display: block;
    margin: auto;
    height: 30px;
    width: 330px;
    text-align: center;
  }
  
  input[type="text"]:focus {
    background-color: lightblue;
  }