.n{
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(25, 23, 37);
    border-bottom: 1px solid white;
    position: fixed;
    z-index: 1;
    top:0;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.n.fade-out {
    opacity: 1;
}

.logo-img{
    height: 40px;
    width: 45px;
}

.logo{
    font-size: 35px;
    font-weight: 600;
    padding: 5px 0px;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.n-items{
    text-decoration: none;
    font-size: 17px;
    color: white;
    padding: 10px 24px;
    margin: 0pz 20px;
    cursor: pointer;
}

.n-items:nth-child(6){
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 24px;
}

.n-items:nth-child(5){
    margin-left: 350px;
}

.n-items:hover{
    transform: translateY(-3px);
}

.n-items:nth-child(6):hover{
    background-color: rgb(39, 36, 55);
    text-decoration: none;
    transform: none;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width:780px) {

    .n{
        width: 100%;
        height: 70px;
    }
    
    .logo{
        display: flex;
        position: absolute;
        left: 75px;
        font-size: 35px;
    } 

    .logo-img{
        display: none;
    }

    .nav-links{
        display: none;
    }

    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: rgb(185, 172, 223);
        left: 0;
        top: 65px;
        transition: all 0.5s ease-out;
    }

    .n-items{
        color: rgb(25, 23, 37);
        font-weight: 550;
        text-align: center;
        padding: 32px;
        transition: all 0.5s ease-out;
    }

    .n-items:nth-child(6){
        border: none;
    }
    
    .mobile-menu{
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color: rgb(25, 23, 37);
        border: none;
        outline: none;
        top: 14px;
        right: 25px;
    }
}
