/* For the whole body */
*{
	margin: 0;
	padding: 0;
	background-color: cyan;
}

/* For the h1 */
h1{
	color: blue;
	padding: 163px;
}

#setup{
	padding-top: 21px;
	display: flex;
	align-items: center;

}

#get-value{
	color: red;
	margin-right: 83px;
	font-size: 31px;

}
#btn{

	margin-right: 91px;
	color: black;
	font-size: 31px;
}

#in{
	border: solid black 3px;
	font-size: 31px;
	color: red;
	margin-left: 31px;
}

#set{
	margin-left: 91px;
	color: black;
	font-size: 31px;
}

#setup #lg{
	margin-left: 1141px;
	color: red;
}