@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: AudioWide;
    src: url('/Fonts/Audiowide-Regular.ttf');

}

@font-face {
    font-family: Bolgart;
    src: url('/Fonts/Bolgart.ttf');
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: #FFFFFF;

    background-size: cover;
    background-position: center;
}


a {
    color: #FFFFFF;
    font-weight: 900;
    text-decoration: none;
}


/* Main   */


.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;
    font-family: 'AudioWide';


}






.main h1 {
    display: flex;
    justify-content: center;
    /* font-size: 2.5rem; */
    margin-top: 0%;


}

.main h2 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 5px;
    color: #F8f8f8;
    font-family: sans-serif;
    margin-left: 2rem;

}


.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



input {
    width: 20rem;
    height: 35px;
    margin-top: 5px;
    /* padding: 5px 20px; */
    border: none;
    background-color: #ffffff;
    color: #38349c;
    font-size: 16px;
    font-weight: 700;
    border-radius: 12px;
    transition: all 0.3s ease;
}




.check {
    display: flex;
    justify-content: center;
    align-items: center;

}

.note {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.files {
    height: 50%;
    width: 55rem;
    align-items: center;
    background-color: #37349c34;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(05px);
    backdrop-filter: blur(05px);
    margin-top: 3%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;

}



.main span#button_flex {
    display: flex;

    align-items: center;
    flex-direction: row;
    /* margin-left: 7rem; */
}

.main button {
    width: 125px;
    height: 30px;
    margin-top: 20px;
    padding: 5px 20px;
    border: none;
    background-color: #001b6a;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.main button:hover {
    transform: scale(1.1);
    color: #ffffff;
    cursor: pointer;
}

