@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(90deg, rgba(25,255,183,1) 0%, rgba(81,178,255,1) 54%, rgba(0,212,255,1) 100%);
    padding: 40px;
}

.container{
    min-height: calc(100vh - 40px * 2);
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
}

.login-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    background-color: white;
}

.login-right{
    background-color: white;
    display: flex;
    justify-content: center;
}
.login-right.img{
    width: 100%;
}
.login-header {
    width: 450px;
    margin-bottom: 50px;
}
.login-header h1 {
    font-size: 39px;
    margin-bottom: 10px;
}
.login-header p {
   opacity: .7;
}

.login-form-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.login-form-footer {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.login-form-footer a {
    flex: 6;
    gap: 15px;
    align-items: center;
    border: 1px solid black;
    border-radius: 100px;
    padding: .6rem;
    justify-content: center;
    display: flex;
    color: black;
    text-decoration: none;
    
}
.login-form-footer a:hover {
    background-color: #84e4f7;
}

.form-item label:not(.checkboxLabel){
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
}

input[type='email'], input[type='password']{
    border: 1px solid black;
    height: 55px;
    padding: 0 2rem;
    width: 100%;
    transition: background .5s;
    font-size: 10px;
    outline: none;
    border-radius: 100px;
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 7px;
}

input[type='checkbox']{
    width: 20px;
    height: 20px;
    accent-color: #84e4f7;
}

button {
    border: none;
    background: linear-gradient(90deg, rgba(25,255,183,1) 0%, rgba(81,178,255,1) 54%, rgba(0,212,255,1) 100%);
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    height: 55px;
    cursor: pointer;
}

#text{
    display: block;
    color: #000;
    font-weight: 550;
    font-style: italic;
    padding: 5px;
}

#form.invalid .inputBox::before{
    content: '';
    position: absolute;
    right: 12px;
    top: 12px;
    height: 24px;
    width: 24px;
    background:url(img/invalid.png);
    z-index: 1000;
}

.footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.footer .social a{
    font-size: 40px;
    color: inherit;
    border-radius: 90%;
    margin: 0 8px;
    opacity: 0.75;
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
}
.footer .social a:hover{
    opacity: 1.0;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 20px;
    list-style: none;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}

.footer .copyright{
    font-weight: bold;
    margin: 15px;
    text-align: center;
    font-size: 20px;
    color: black;
}

/* RESPONSIVE*/

@media (max-width:1350px){
    .login-left{
        padding: 50px !important;
    }
    .login-form{
        width: 100%;
    }
    .login-form-footer{
        flex-direction: column;
        gap: 15px;
    }
}
@media (max-width:768px){
    body{
        padding: 20px;
    }
    .container{
        grid-template-columns: auto;
    }
    .login-right{
        display: none;
    }
}
