@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.container{
    display: grid;
    grid-template-columns: 26% 39% 35%;
}
.option-menu{
    width: 99.8%;
    border-right: 1px solid #e8e8e8;
    height: 160px;
}
.options-center{
    width: 75%;
    margin: 0 auto;
}
.logo{
    padding: 4% 0 4% 37%;
}
.logo i{
    font-size: 33px;
    color: #00a7ff;
}
.option{
    display: grid;   
}
.option div a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 30px;
    color: black;
}
.option div{
    padding: 2% 0 8% 31%;
}
.option div a i{
    padding: 0 20px 0 0;
    font-weight: 100;
}
.option div a:hover{
    color: #00a7ff;
    background: #e1f5ff;
}
.option button{
    padding: 15px 80px;
    border-radius: 30px;
    outline: none;
    background: #00a7ff;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}
.option button:hover{
    background: #00a7ff;
    transition: 0.1s;   
}
.content-menu{
    width: 99.6%;
    border-right: 1px solid #e8e8e8;
    background: white;
}
.prefer{
    width: 100%;
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid  #e8e8e8;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
}
.prefer span{
    padding: 0 20px;
}
.prefer span a {
    text-decoration: none;
    font-size: 18px;
    color:black;
    font-weight: 800;
}   
.prefer span i{
    font-size: 18px;
    color:#00a7ff;
}
.you-tweet-other-tweet{
    max-height: 704px;
    overflow-y: hidden;
}
.you-tweet-other-tweet:hover{
    overflow-y: auto;
}
.you-tweet{
    display: block;
    width: 100%;
    border-bottom: 10px solid #e8e8e8;
    height: 130px;
}
.profile-message{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 15px;
}
.profile-message img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.9;
}
.profile-message img:hover{
    opacity: 1;
}
.profile-message  span  input{
    padding: 0 0 0 10px;
    font-size: 18px;
    color: #525252;
    letter-spacing: 0.5px;
    border: none;
    outline: none;
}
.add-extra{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.images-more{
    margin: 5px 0 5px 7px;
}
.images-more span a{
    text-decoration: none;
    color: #00a7ff;
    font-size: 20px;
    padding: 8px 8px;
    border-radius: 50%;
}
.images-more span a:hover{
    background: #e1f5ff;
}
.add-extra span button{
    margin: 0 30px 0 0;
    padding: 10px 25px;
    border-radius: 30px;
    background: #00a7ff;
    font-size: 16px;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.add-extra span button:hover{
    background: #00a7ff;
}
.other-tweets{
    width: 100%;
}
.other-tweet{
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}
.profile-msg{
    display: grid;
    grid-template-columns: 12% 76% 12%;
    margin: 20px;
    align-items: center;
}
.others-profile{
    padding: 0 0 0 5px;
}
.others-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.9;
    cursor: pointer;
}
.others-profile img:hover{
    opacity: 1;
}
.name-msg span i{
    padding: 0 4px 0 4px;
    color: #00a7ff;
    font-size: 20px;
}
.name-msg{
    cursor: pointer;
}
.name-msg span p{
    color: #5d5d5d;
}
.name-msg span b{
    color: black;
}
.msg{
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0 0 0;
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
}
.name-msg span b:hover{
    text-decoration: underline;
}
.more-options{
    cursor: pointer;
}
.image-video{
    margin: 0 0 0 12%;
}
.image-video img{
    border-radius: 20px;
    width: 90%;
    max-height: 280px;
}
.your-reaction{
    margin: 3% 0 5% 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    opacity: 0.7;
}
.your-reaction div{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.your-reaction div p{
    padding: 0 0 0 5px;
    font-size: 12px;
}
.your-reaction div i{
    font-size: 20px;
    padding: 5px 5px;
    border-radius: 50%;
}
.comment:hover{
    color: #00a7ff;
}
.retweet:hover{
    color: green;
}
.like:hover{
    color: rgb(249, 24, 128);
}
.bookmark:hover{
    color: #00a7ff;
}
.trending-menu{
    width: 100%;
}
.trending-center{
    width: 100%;
    margin: 0 0 0 50px;
}
.search{
    width: 100%;
    height: 55px;
    position: sticky;
    top: 0;
    background: #fff;
    align-items: center;
    z-index: 1000;
}
.search input{
    width: 90%;
    height: 40px;
    margin: 1% 0 0 0;
    border-radius: 30px;
    outline: none;
    border: none;
    background: #ebebeb;
    padding: 0 10px 0 50px;
    font-size: 15px;
    color: #454545;
    letter-spacing: 1px;
}
.search span{
    position: absolute;
    left: 7px;
    top: 12px;
    font-size: 20px;
    font-weight: 100;
    color: #454545;
}
.trending, .follow{
    width: 100%;
    background: #efefef;
    border-radius: 20px;
    margin: 0 0 20px 0;
    overflow-y: hidden;
    max-height: 333px;
}
.trending:hover , .follow:hover{
    overflow-y: auto;
}
.header{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #d8d8d8;
}
.header p{
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 900;
}
.trends .persons{
    width: 100%;
}
.trend{
    display: grid;
    grid-template-columns: 70% 30%;
    border-bottom: 1px solid #d4d4d4;
}
.trend-msg{
    margin: 15px 0 0 20px;
}
.trend-name{
    margin: 0 0 10px 0;
    cursor: pointer;
}
.trend-name p , .trend-with p{
    font-size: 12px;
    opacity: 0.6;
}
.trend-with{
    margin: 0 0 20px 0;
    cursor: pointer;
}
.subject p{
    font-size: 15px;
    font-weight: 600;
    text-justify: inter-word;
    word-wrap: break-word;
    margin: 0 0 10px 0;
    cursor: pointer;
}
.trend-with p a{
    text-decoration: none;
    color: #00a7ff;
}
.trend-with p a:hover{
    text-decoration: underline;
    opacity: 1;
}
.trend-picture{
    padding: 20px 0;
}
.trend-picture img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}
.trend:hover , .person:hover{
    background: #e8e8e8;
}
.show-more{
    padding: 20px 20px;
}
.show-more a{
    text-decoration: none;
    color: #00a7ff;
}
.show-more:hover{
    background: #e8e8e8;
    border-radius: 0 0 20px 20px;
}
.person{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
}
.person-profile{
    padding: 0 0 0 10px;
}
.person-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.9;
}
.person-profile img:hover{
    opacity: 1;
}
.followers-name p{
    font-size: 16px;
    font-weight: 600;
}
.name h3{
    font-size: 16px;
}
.name p{
    opacity: 0.6;
    padding: 5px 0 0 0;
}
.send-follow-request button{
    padding: 5px 20px;
    outline: none;
    border: 2px solid #00a7ff;
    color: #00a7ff;
    border-radius: 20px;
    font-size: 17px;
    text-transform: capitalize;
}
.send-follow-request button:hover{
    background: #efefef;
}

@media(max-width:1450px ){
    .option span{
        display: none;
    }
    .option button{
        padding: 10px 10px;
    }
    .container{
        grid-template-columns: 10% 50% 40%;
    }
    .option-center{
        width: 99.6%;
    }
    .option div a i{
        padding: 0;
        border-radius: 50%;
    }
    .profile-msg{
        grid-template-columns: 25% 40% 35%;
    }
}

@media (max-width: 960px){
    .options-menu{
        display: none;
    }
    .trending-menu{
        display: none;
    }
    .container{
        grid-template-columns: 100%;
    }
    .profile-msg{
        grid-template-columns: 20% 60% 20%;
    }
}