* {
	margin: 0px;
	padding: 0px;
}
#web3 {
	margin-top: 82px;
	border: 2px solid white;
	margin-left: 250px;
	height: 350px;
	width: 450px;
	border-radius: 15px;
}

#web5 {
	border: 2px solid white;
	margin-left: 92px;
	height: 350px;
	width: 450px;
	border-radius: 15px;
}

#btn1 {
	color: black;
	font-size: 49px;
	letter-spacing: 0.295em;
	margin-top: 62px;
	margin-left: 315px;
	padding-right: 68px;
	padding-left: 68px;
	border-radius: 15px;
}

#btn2 {
	color: black;
	margin-left: 232px;
	font-size: 49px;
	letter-spacing: 0.295em;
	padding-right: 68px;
	padding-left: 68px;
	border-radius: 15px;
}

#btn3 {
	font-size: 45px;
	margin-top: 35px;
	margin-left: 600px;
	border-radius: 15px;
	padding-right: 68px;
	padding-left: 68px;
	background-color: #66f2a0;
}

#do {
	background-color: white;
}

#top {
	background-color: white;
	margin-top: 20px;
	margin-left: 660px;
	color: black;
	font-size: 40px;
}

#show-vote1{
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
}

#show-vote2{
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
}