* {
	margin: 0px;
	padding: 0px;	
}

#web3 {
	margin-top: 82px;
	border: 2px solid white;
	margin-left: 250px;
	height: 350px;
	width: 450px;
	border-radius: 15px;
}

#web5 {
	border: 2px solid white;
	margin-left: 92px;
	height: 350px;
	width: 450px;
	border-radius: 15px;
}

#btn {
	color: black;
	font-size: 49px;
	letter-spacing: 0.295em;
	margin-top: 62px;
	margin-left: 315px;
	padding-right: 68px;
	padding-left: 68px;
	border-radius: 15px;
}

#btn:hover{
	background-color: greenyellow;
}

#btn:active{
	background-color: rgb(106, 168, 14);
}

#btn1 {
	color: black;
	margin-left: 232px;
	font-size: 49px;
	letter-spacing: 0.295em;
	padding-right: 68px;
	padding-left: 68px;
	border-radius: 15px;
}

#btn1:hover{
	background-color: greenyellow;
}

#btn1:active{
	background-color: rgb(106, 168, 14);
}

#res {
	font-size: 45px;
	margin-top: 35px;
	margin-left: 600px;
	border-radius: 15px;
	padding-right: 68px;
	padding-left: 68px;
	background-color: #66f2a0;
}
#res:hover {
	background-color: white;
  }
#do {
	background-color: #7a93c2;
}

#top {
	background-color: #7a93c2;
	margin-top: 20px;
	margin-left: 660px;
	color: white;
	font-size: 40px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#show-vote1 {
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 20px;
	border-radius: 5px;
}

#show-vote2 {
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 20px;
	border-radius: 5px;
}
