.blogsNFT {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-left: 30px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
Link {
  text-decoration: none;
}

.myBlogsHeader {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}
