
            nav{
                border-style:solid;
                border-width :0.15em;
                border-color:navy;
                border-radius:2em;
                padding:1em; 
                font-family: 'Concert One', cursive;
              
                
               }
            nav  a {
                color:rgb(245,0,0);
                padding-left: 4em;
                font-family: 'Montserrat', sans-serif;
              }

            .row{
                display: flex;
            }
           
            .left-column{
                height: 40vh; 
                flex: 40%;
                color: rgb(50,240,240);

            }
            .right-column{
                height:40vh;
                flex:60%;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
            #right-col-home{
                background-image:url(images/friends.png);
            }
            #right-col-about{
                background-image:url(images/fun.png);
            } 
            #right-col-members{
                background-image:url(images/selfie.png);
            } 

            .main-heading{
              font-family: 'Concert One',
               cursive;font-size: 3em;
            }

            #content-area {
                font-family: 'Montserrat', sans-serif;
                margin-top:6em;

            }
            #layout-container{
                width:80%;
                margin-left:auto;
                margin-right:auto;

            }
            #password-area{
                margin-top: 5em;
                color: rgb(65, 225, 86);
            }