/* Nav bar Start*/


img {
    display: flex;
    margin-top: 12px;
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 10px;
    float: left;
    transition: transform 0.3s;
    border: 2px solid red;
}

img:hover {
    transform: scale(1.1);
}

#myAvatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* 
@media (max-width: 768px) {
    #myAvatar {
        flex-direction: column;
        align-items: center;
    }
} */

 
.info{
    display: flex;
    flex-direction: column;
    
}

#username{
    border-radius: 1em;
   
    background-color:#fff;
    margin-top: 0.3em;
    padding-left: 22px;
    padding-top: 12px;
    color:green;
    font-weight: bolder;
    font-size: 32px;
}
#label{
    font-size: 32px;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
:root {
    --primary: #933ded;
    --dark: #232323;
    --pure: #fff;
    --smoke: whitesmoke;
    --dark-gray: #999;
}


body {
    font-family: 'Lato', sans-serif;
    background: var(--dark);
    color: var(--pure);
}

.container {
    width: 1152px;
    max-width: 90%;
    margin: 0 auto;
}
.container1{
    font-size: large;

    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;


}
.column{
    
    margin-top: 12px;
    font-weight: bolder;
    padding-left: 50px;
    color: aqua;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
}

.brand svg {
    height: 30px;
    margin-right: 10px;
}

.brand svg path {
    fill: var(--pure);
}

.nav-wrapper ul.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-wrapper ul.nav-list li {
    margin-left: 30px;
    padding: 20px 0;
    position: relative;
}

.nav-wrapper ul.nav-list li a {
    color: var(--pure);
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
}

.nav-wrapper ul.nav-list li a:hover, .nav-wrapper ul.nav-list li.active a {
    color: var(--primary);
}

.btn {
    background: var(--primary);
    color: var(--pure);
    outline: none;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    border: 1px solid transparent;
    transition: all .5s ease-in-out;
}

.btn1{
    margin-top: 1em;

    font-size: 34px;
}
.contmid{
    color: aqua;
    background-color: aqua;
    padding-left: 122px;
}

.btn:hover {
    background: transparent;
    border-color: var(--pure);
}

main section.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 160px;
}

main section.header h1 {
    font-size: 36px;
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 20px;
}

main section.header h4 {
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-gray);
    margin-bottom: 20px;
}
nav ul.dropdown-list {
    list-style-type: none;
    display: block;
    background: var(--smoke);
    padding: 6px 16px;
    position: absolute;
    width: max-content;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
}

.nav-wrapper ul.dropdown-list li {
    margin-left: 0;
    padding: 5px 0;
}

.nav-wrapper ul.dropdown-list  li a {
    color: var(--dark);
} 

.nav-wrapper ul.nav-list li:hover .dropdown-list {
    opacity: 1;
    pointer-events: auto;
    animation: moveUp .5s ease-in-out forwards;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(20px); 
    }
}

.hamburger {
    display: none;
}

.mobile .hamburger {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
}

.mobile .hamburger span {
    background: var(--pure);
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
}

.mobile ul.nav-list {
    background: -webkit-linear-gradient(45deg, #434343, #000000);
    background: linear-gradient(45deg, #434343, #000000);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.hamburger, .brand {
    z-index: 9999;
}

.mobile ul.nav-list.open {
    opacity: 1;
    pointer-events: auto;  
}

.mobile .hamburger span {
    transform-origin: left;
    transition: all .3s ease-in-out;
}

.mobile ul.nav-list li a {
    font-size: 20px;
}

.mobile ul.dropdown-list {
    position: relative;
    background: transparent;
    text-align: center;
    height: 0;
    overflow-y: hidden;
    transition: opacity 1s ease-in-out;
    padding-top: 0;
}

.mobile .nav-wrapper ul li:hover .dropdown-list {
    height: max-content;
    padding-top: 6px;
}

.mobile ul.nav-list li {
    margin-left: 0;
    text-align: center;
}

.mobile .nav-wrapper ul.dropdown-list li a {
    color: var(--dark-gray);
}

/* Nav bar end */

/* footer */