<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>

	</title>
</head>
<body>
	<center>	<h1>
		<u>
	<span style="color: orange;">Below are the few project's which i made :
	</span></u></h1>
</center>
<h3>
	All these are present on the git hub
</h3>
	<ul>
		<li>
			GUI CALCULATOR
		</li>
		<li>
			Randon number game
		</li>
		<li>
			A.I audio using Python
		</li>
		<li>
			Portfolio website using Django
		</li>
	</ul>
</body>
</html>