body{
  background-color: white;
  font-family: "Helvetica", sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 690px;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  box-shadow: 0 15px 20px 0 #cbcdd0;
  background: #ffffff;
  color: #000;
  border-radius: 98px;
  padding: 16px 32px;
  font-family: "Helvetica", sans-serif;
  font-size: 26px;
  font-weight: 500;
  cursor: pointer;
}

#connectButton {
  margin-bottom: 16px;
  color: #499cf0;
}

#walletID span {
  max-width: 90%;
  margin: 0 auto;
  font-size: 12px;
  font-weight: 600;
}

#mobileDeviceWarning {
  display: none;
  margin-top: 25px;
  color: rgb(12, 76, 141);
}

#mobileDeviceWarning.show {
  display: block;
}

.alert {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #ffffff;
}

.alert.show {
  display: flex;
}

.alert .button {
  margin-top: 24px;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loadingButton {
  pointer-events: none;
}

.loadingButton #loading {
  display: flex;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 99px;
}

#loading span:not(:last-child) {
  margin-right: 5px;
}

#loading span {
  animation-name: opacity;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#loading span:nth-child(2) {
  animation-delay: 100ms;
  animation-delay: 100ms;
}

#loading span:nth-child(3) {
  animation-delay: 300ms;
  animation-delay: 300ms;
}

#add{
  padding-left: 33%;
  margin-top: 30px;

}

#meta-img{
  margin-left: 39%;
  margin-top: 55px;
}

#btn{
  margin-left: 43%;
  margin-top: 20px;
  border-radius: 12px;
  padding-top: 11px;
  padding-bottom: 11 px;
  padding-right: 26px;
  padding-left: 26px;
  color: white;
  font-size: 20px;
  background-image: linear-gradient(180deg, rgb(157, 18, 238), rgb(234, 217, 245));
  border-color: rgb(157, 18, 238);
}

#cnf{
  margin-left: 43%;
  margin-top: 20px;
  border-radius: 12px;
  color: red;
}
